*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media (max-width: 64em) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 26.57em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a:link,
a:active {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffcc00' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"), linear-gradient(109.6deg, rgb(0, 191, 165) 11.2%, rgb(0, 140, 122) 100.2%);
  text-align: center;
}

nav {
  padding-top: 5rem;
  margin-bottom: 10rem;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
@media (max-width: 23.44em) {
  .navbar {
    gap: 4rem;
  }
}

.nav-list {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  position: relative;
}
.nav-list::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffcc00;
  position: absolute;
  top: 130%;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}

.nav-list:hover::after {
  transform: scaleX(1);
}

h1 {
  font-size: 10rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: white;
  margin-bottom: 8rem;
}
@media (max-width: 64em) {
  h1 {
    font-size: 9rem;
  }
}
@media (max-width: 26.57em) {
  h1 {
    font-size: 7.5rem;
    margin-bottom: 10rem;
  }
}
@media (max-width: 23.44em) {
  h1 {
    font-size: 7rem;
  }
}
@media (max-width: 20em) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-family: "Marck Script", cursive;
  font-size: 7rem;
  text-transform: lowercase;
  color: #333333;
  background-color: #ffcc00;
  display: inline-block;
  padding: 2rem 10rem;
  -webkit-clip-path: polygon(22% 0%, 100% 0%, 78% 100%, 0% 100%);
          clip-path: polygon(22% 0%, 100% 0%, 78% 100%, 0% 100%);
}
@media (max-width: 64em) {
  h2 {
    font-size: 6rem;
  }
}
@media (max-width: 26.57em) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.skillset {
  padding: 4rem 0;
  background-color: darkslategray;
}
.skillset h3 {
  color: whitesmoke;
}

.skillset-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.middle-box {
  display: flex;
  gap: 14rem;
}
@media (max-width: 26.57em) {
  .middle-box {
    gap: 8rem;
  }
}
@media (max-width: 23.44em) {
  .middle-box {
    gap: 6rem;
  }
}
@media (max-width: 20em) {
  .middle-box {
    gap: 4rem;
  }
}

.bottom-box {
  display: flex;
  gap: 16rem;
}
@media (max-width: 26.57em) {
  .bottom-box {
    gap: 8rem;
  }
}
@media (max-width: 23.44em) {
  .bottom-box {
    gap: 6.5rem;
  }
}
@media (max-width: 20em) {
  .bottom-box {
    gap: 4rem;
  }
}

i {
  font-size: 8rem;
  color: #16a085;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 26.57em) {
  i {
    font-size: 6rem;
  }
}

.projects {
  padding: 4rem 0;
  background-color: #6fcb9f;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffeead' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.filter-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.btn-filter {
  width: 15rem;
  padding: 1rem 0;
  font-family: inherit;
  font-size: 1.8rem;
  color: black;
  background-color: #ffcc00;
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}
.btn-filter:hover {
  color: white;
  background-color: darkslategray;
}
.btn-filter:active {
  scale: 0.96;
}
@media (max-width: 23.44em) {
  .btn-filter {
    width: 12rem;
  }
}
@media (max-width: 20em) {
  .btn-filter {
    width: 11rem;
  }
}

.card-box {
  max-width: 124rem;
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 3rem;
}
@media (max-width: 64em) {
  .card-box {
    padding: 2rem 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 48em) {
  .card-box {
    padding: 2rem 3rem;
  }
}
@media (max-width: 26.57em) {
  .card-box {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 20em) {
  .card-box {
    padding: 2rem;
  }
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.card-top {
  overflow: hidden;
}

.card-cover {
  transition: all ease-in-out 0.6s;
}
.card-cover:hover {
  transform: scale(1.25);
}

.card-bottom {
  padding: 2rem 3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23444444' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"), radial-gradient(circle 827px at 47.3% 48%, whitesmoke 0%, cyan 90%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

.tools-used {
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.tools-used p {
  letter-spacing: 1px;
}

.html {
  color: red;
}

.css {
  color: blue;
}

.p-js {
  color: #ffcc00;
}

.p-react {
  color: #61dafb;
}

.json {
  color: green;
}

.api {
  color: purple;
}

.on-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.on-text {
  text-align: center;
}

.line {
  width: 7rem;
  height: 1px;
  background-color: gray;
}

.links-box {
  margin-top: -2rem;
  display: flex;
  justify-content: space-between;
}

.link-logo {
  transition: all 0.3s;
}
.link-logo:hover {
  transform: translateY(-0.5rem);
}

footer {
  padding: 4rem;
  color: #f7f7f7;
  text-align: center;
  background-color: #34495e;
}

.mail {
  font-size: 2rem;
  color: black;
  padding: 2rem 5rem;
  display: inline-block;
  margin: 5rem 0 10rem 0;
  background-color: #ffcc00;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
.mail:hover {
  background-color: #e6b800;
}
.mail:active {
  transform: scale(0.98) translateY(2px);
}
@media (max-width: 20em) {
  .mail {
    padding: 2rem 4rem;
  }
}

.copyright {
  margin-bottom: -2rem;
}

.hidden {
  display: none;
}

.active {
  color: white;
  background-color: darkslategray;
}/*# sourceMappingURL=style.css.map */